Package: com.ronaldss.realccxs
Name: RealCCXS
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Actually disable WiFI and Bluetooth from CC in iOS >= 11.
Maintainer: Ronaldss
Author: Ronaldss
Section: Tweaks
