Package: com.ronaldss.realccxs
Name: RealCCXS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Actually disable WiFI and Bluetooth from CC in iOS 11 and 12.
Maintainer: Ronaldss
Author: Ronaldss
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 104
